<div class="container-header mb-5">
    <h1 class="text-center">Angular Date picker</h1>
</div>

<div class="container">
    <div class="content date-picker-container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="input-group">
                    <span class="input-group-text" for="date">Date picker</span>
                    <input type="date" class="form-control" id="date" [min]="minDate" [max]="maxDate" name="datePicker" [(ngModel)]="datePicker"  onkeydown="return false">
                </div>
                <div class="mt-3 text-center">
                    <h4>{{datePicker}}</h4>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>
