<div class="container-header mb-5">
    <h1 class="text-center">Angular Date picker</h1>
</div>

<div class="container">
    <div class="content date-picker-container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="input-group">
                    <span class="input-group-text" for="date">Date picker</span>
                    <input type="date" class="form-control" id="date" [min]="minDate" [max]="maxDate" name="datePicker" (keydown)="check()" [(ngModel)]="datePicker">
                </div>
                <div class="mt-1" *ngIf="date.invalid">
                    <p class="text-danger">*selected date is out of date range</p>
                </div>

                <button class="btn btn-primary col-12 mt-1" (click)="checkDate()">check</button>
                <div class="mt-1">
                    <h4>Selected date: "{{datePicker}}" </h4>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>
